<ion-header >
  <ion-navbar color="primary">
    <ion-title>
      Plages
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let beach of beaches">
      <h2>{{ beach.name }}</h2>
      <p *ngIf="beach.dogAllowed"><ion-icon name="paw"></ion-icon></p>
    </ion-item>
  </ion-list>
</ion-content>
